@(module: models.Module, rel: models.Relationship)
@@(@{rel.upName}Form: Form[@{rel.classRef}], id: Long, @{rel.rmVar}Options: Seq[(String,String)] )(implicit lang: Lang)

@@import helper._
@@import helper.twitterBootstrap._

@@main(Messages("@{rel.rmVar}.add_rel")){
  <div class="page-header">
      <h1>@@Messages("@{module.varName}.add_rel")</h1>
  </div>

@@helper.form(action = routes.@{module.controllerName}.@{rel.rmVar}Save(id)) {
  <fieldset>
    <input type="hidden" name="id" value="">

    <input type="hidden" name="@{rel.pmVarId}" id="@{rel.pmVarId}" value="@@id">

	<legend>
			@@Messages("@{rel.rmVar}.item_name")
		   </legend>
		    @@select(
	          @{rel.upName}Form("@{rel.rmVarId}"),
	          @{rel.rmVar}Options,
	          'default -> "-- select --"
	       )

  </fieldset>
  <p><input type="submit" class="btn primary"
  value='@@Messages("@{rel.rmVar}.save")'></p>
}

  <p>
    <a href="@@controllers.routes.@{module.controllerName}.index()"
    class="btn">
    <i class="icon-plus"></i>@@Messages("@{module.varName}.return")</a>
  </p>
}