@(module: models.DB.ModuleRow)(implicit lang: Lang)

@main(Messages("module.name")){
<div class="page-header">
   <h1>@Messages("module.item_detail",module.name)</h1>
</div>

@views.html.module.list(List(module))

<h3>@Messages("module.field_list",module.name)</h3>
@views.html.field.list(module.fields)
@views.html.field.buttons.new_item()

<p>
    <a href="@controllers.routes.ModuleController.generateAll(module.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("module.generate_all")</a>
    <br />
    <a href="@controllers.routes.ModuleController.generateController(module.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("module.generate_controller")</a>
    <br />
    <a href="@controllers.routes.ModuleController.generateTable(module.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("module.generate_table")</a>
    <br />
    <a href="@controllers.routes.ModuleController.generateRow(module.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("module.generate_row")</a>
    <br />
    <a href="@controllers.routes.ModuleController.generateViews(module.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("module.generate_views")</a>
    <br />

    <br />
    <a href="@controllers.routes.ModuleController.index()"
    class="btn">
    <i class="icon-plus"></i> @Messages("module.index")</a>
</p>
}