@(module: models.Module, fields: List[models.fields.Field], relatedFields: List[models.fields.RelatedField])
package controllers

import play.api._
import play.api.mvc._

import models.DB._

import play.api.data._
import play.api.data.Forms._

import play.api.db.slick.DB
import play.api.db.slick.Config.driver.simple._

object @{module.controllerName} extends Controller {
  def index = Action {
    val @{module.pluralName} = @{module.rowName}.findAllWithRelateds

    Ok(views.html.@{module.name}.index(@{module.pluralName}))
  }

  val @{module.formName} = Form(
      mapping(@views.html.field.template.fields.render_controller_form(fields)
      )(@{module.rowName}.apply)(@{module.rowName}.unapply)
  )

  def insert = Action {
    Ok(views.html.@{module.name}.insert(@{module.formName}))
  }
  

  def detail(id: Long) = Action {
    @{module.rowName}.findByIdWithRelateds(id).map{
      @{module.varName} => Ok(views.html.@{module.name}.detail(@{module.varName}))
    }.getOrElse(NotFound)
  }
  
  def save = Action { implicit request =>
    @{module.formName}.bindFromRequest.fold(
      formWithErrors => BadRequest(views.html.@{module.name}.insert(formWithErrors)),
      @{module.varName} => {
        val id = @{module.rowName}.save(@{module.varName})
        Redirect(routes.@{module.controllerName}.detail(id))
      }
    )
  }
  
  def edit(id: Long) = Action{
    @{module.rowName}.findById(id).map{
      @{module.varName}:@{module.rowName} => Ok(views.html.@{module.name}.edit(@{module.formName}.fill(@{module.varName}),@{module.varName}))
    }.getOrElse(NotFound)
  }
  
  def delete(id: Long) = Action{
    implicit request =>
    @{module.rowName}.findById(id).map{
      @{module.varName} => {
          @{module.rowName}.delete(@{module.varName})
          Redirect(routes.@{module.controllerName}.index())
    }
    }.getOrElse(NotFound)
  }
  
  def update(id: Long) = Action{ implicit request =>
    @{module.rowName}.findById(id).map{
      @{module.varName} => {
      @{module.formName}.bindFromRequest.fold(
        formWithErrors => BadRequest(views.html.@{module.name}.edit(formWithErrors,@{module.varName})),
        @{module.varName} => {
          @{module.rowName}.update(@{module.varName})
          Redirect(routes.@{module.controllerName}.detail(@{module.varName}.id.get))
        }
      )
    }
    }.getOrElse(NotFound)
  }
}