@(module: models.Module, fields: List[models.fields.Field])
package models.DB

import play.api.Play.current

import play.api.db.slick.DB
import play.api.db.slick.Config.driver.simple._
import scala.slick.driver.MySQLDriver.DeleteInvoker

case class @{module.rowName}(
  @for((field,index) <- fields.zipWithIndex){
    @{Html(field.classDefinition)}@{if(index != fields.length - 1){','}else{""}}
  }
){
  
}

object @{module.rowName}{
  def save(@{module.varName}: @{module.rowName}):Long = {
    DB.withTransaction { implicit session =>
      @{module.tableRef}.returning(@{module.tableRef}.map(_.id)).insert(@{module.varName})
    }
  }
  
  def update(@{module.varName}: @{module.rowName}):Int = {
    DB.withTransaction { implicit session =>
      val q = for {
        s <- @{module.tableRef}
        if s.id === @{module.varName}.id
      } yield(s)
      q.update(@{module.varName})
    }
  }
  
  def delete(@{module.varName}: @{module.rowName}):Int = {
    DB.withTransaction { implicit session =>
       val q = for {
        s <- @{module.tableRef}
        if s.id === @{module.varName}.id.get
      } yield(s)
      q.delete
    }
  }

  
  def findAll: List[@{module.rowName}] = {
    DB.withSession { implicit session =>
      @{module.tableRef}.run.toList
    }
  }
  
  def findById(id: Long):Option[@{module.rowName}] = {
    DB.withSession { implicit session =>
      val q = for{
        s <- @{module.tableRef} if s.id === id
      } yield (s)
      q.firstOption
    }
  }

  def getOptions(): Seq[(String,String)] = {
    DB.withSession { implicit session =>
      val @{module.pluralName} = for {
        p <- @{module.tableRef}
      } yield(p)
      for(@{module.varName} <- @{module.pluralName}.list) yield(@{module.varName}.id.get.toString,@{module.varName}.name) 
    }
  }
}