@(name: String, fields: List[models.fields.Field])
package models.DB

import play.api.Play.current

import play.api.db.slick.DB
import play.api.db.slick.Config.driver.simple._
import slick.lifted.{Join, MappedTypeMapper}

object @{name.capitalize}Table extends Table[@{name.capitalize}Row]("@{name}"){
  @views.html.field.template.fields.render_field_table(fields)

  def * = @Html(models.FieldUtils.toOneLine(for(field <- fields) yield field.nameInTable," ~ ")) <> (@{name.capitalize}Row.apply _, @{name.capitalize}Row.unapply _)
}