@(rel: models.Relationship)
package models.DB

import play.api.Play.current

import play.api.db.slick.DB
import play.api.db.slick.Config.driver.simple._

import @rel.pmTableRef
import @rel.rmTableRef


case class @{rel.rowName}(
  id: Option[Long] = None,
  @{rel.pmVar}: Long,
  @{rel.rmVar}: Long
){
  
}

object @{rel.rowName}{
  @views.html.gratorRelationship.template.table(rel)

  val @{rel.tableProp} = TableQuery[@rel.tableClass]

  def save(@{rel.varName}: @{rel.rowName}):Long = {
    DB.withTransaction { implicit session =>
      @{rel.tableRef}.returning(@{rel.tableRef}.map(_.id)).insert(@{rel.varName})
    }
  }
  
  def update(@{rel.varName}: @{rel.rowName}):Int = {
    DB.withTransaction { implicit session =>
      val q = for {
        s <- @{rel.tableRef}
        if s.id === @{rel.varName}.id
      } yield(s)
      q.update(@{rel.varName})
    }
  }
  
  def delete(@{rel.varName}: @{rel.rowName}):Int = {
    DB.withTransaction { implicit session =>
       val q = for {
        s <- @{rel.tableRef}
        if s.id === @{rel.varName}.id.get
      } yield(s)
      q.delete
    }
  }
  
  def findAll: List[@{rel.rowName}] = {
    DB.withSession { implicit session =>
      @{rel.tableRef}.list
    }
  }
  
  def findById(id: Long):Option[@{rel.rowName}] = {
    DB.withSession { implicit session =>
      val q = for{
        s <- @{rel.tableRef} if s.id === id
      } yield (s)
      q.firstOption
    }
  }

  def @{rel.pmFindByMethod}(@{rel.pmVarId}: Long): List[(@{rel.rowName}, @{rel.rmRowName})] = {
    DB.withSession { implicit session =>
      val q = for {
        @rel.varName <- @rel.tableRef   if @{rel.varName}.@{rel.pmVar} === @rel.pmVarId
        @{rel.rmVar} <- @rel.rmTableRef if @{rel.varName}.@{rel.rmVar} === @{rel.rmVar}.id
      } yield (@{rel.varName}, @{rel.rmVar})
      q.list
    }
  }

  def @{rel.rmFindByMethod}(@{rel.rmVarId}: Long): List[(@{rel.rowName}, @{rel.pmRowName} )] = {
    DB.withSession { implicit session =>
      val q = for {
        @rel.varName <- @rel.tableRef   if @{rel.varName}.@{rel.rmVar} === @{rel.rmVarId}
        @{rel.pmVar} <- @rel.pmTableRef if @{rel.varName}.@{rel.pmVar} === @{rel.pmVar}.id
      } yield (@{rel.varName} , @{rel.pmVar})
      q.list
    }
  }
}