@(rel: models.Relationship)
  class @{rel.tableClass}(tag: Tag) extends Table[@{rel.rowName}](tag, "@{rel.tableName}"){

  	def id = column[Long]("id", O.PrimaryKey, O.AutoInc)
  	def @rel.pmVar = column[Long]("@{rel.pmTableColumn}")
  	def @rel.rmVar = column[Long]("@{rel.rmTableColumn}")

  	def * = (id.?, @rel.pmVar, @rel.rmVar) <> ((@{rel.rowName}.apply _).tupled, @{rel.rowName}.unapply _)

  	def @rel.pmIndexVar = foreignKey("@{rel.pmIndexName}", @rel.pmVar, @rel.pmTableRef)(_.id)
    def @rel.rmIndexVar = foreignKey("@{rel.rmIndexName}", @rel.rmVar, @rel.rmTableRef)(_.id)
  }