
@(GratorRelationship: ( models.DB.GratorRelationship, models.DB.GratorModule, models.DB.GratorModule ) )(implicit messages: Messages, req: RequestHeader)

@main(Messages("GratorRelationship.name")){
	<div class="page-header">
		
    	<h1>@Messages("GratorRelationship.item_detail",GratorRelationship._1.name)</h1>
    	
  </div>

  @views.html.GratorRelationship.list(List(GratorRelationship))

 	<p>
		<a href="@controllers.routes.GratorRelationshipController.index()"
		class="btn">
		<i class="icon-plus"></i> @Messages("GratorRelationship.index")</a>

		
		@views.html.GratorRelationship.delete(route = routes.GratorRelationshipController.delete(GratorRelationship._1.id.get), GratorRelationship = Some(GratorRelationship._1))
		
	</p>

	
	
}
