
@(GratorRelationshipForm: Form[models.DB.GratorRelationship], GratorRelationshipTuple: ( models.DB.GratorRelationship, models.DB.GratorModule, models.DB.GratorModule ))(implicit messages: Messages, req: RequestHeader)

@main(Messages("GratorRelationship.insert")){
  <div class="page-header">
      <h1>@Messages("GratorRelationship.insert")</h1>
  </div>

  @views.html.GratorRelationship.form(GratorRelationshipForm, route = routes.GratorRelationshipController.update(GratorRelationshipTuple._1.id.get), GratorRelationshipTuple = Some(GratorRelationshipTuple))

  <p>
    <a href="@controllers.routes.GratorRelationshipController.index()"
    class="btn">
    <i class="icon-plus"></i> @Messages("GratorRelationship.return")</a>
  </p>
}
