
@(rowForm: Form[models.DB.GratorRelationship], relTypeOptions: Seq[(String,String)], 
  subpanelOptions: Seq[(String,String)], route: play.api.mvc.Call, row: Option[models.DB.GratorRelationship] = None)(implicit lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@helper.form(action = route) {
  <fieldset>
    


	@row match {
    	case Some(row) => {
    		<input type="hidden" name="id" value="@row.id.get">
    	}
    	case None => {}
	  }

	<legend>
				@Messages("gratorRelationship.item_name")
		   </legend>
		    @helper.inputText(rowForm("name"))

	<legend>
			@Messages("gratorRelationship.relType")
		   </legend>
		    @select(
		   		rowForm("relType"),
		   		relTypeOptions,
		   		'default -> "-- select --"
		   )

	<legend>
				@Messages("gratorRelationship.primaryModuleId")
		   </legend>
		   @select(
		   		rowForm("primaryModuleId"),
		   		models.DB.GratorModule.getOptions,
		   		'default -> "-- select --"
		   )

	<legend>
				@Messages("gratorRelationship.primaryModuleLabel")
		   </legend>
		    @helper.inputText(rowForm("primaryModuleLabel"))

	<legend>
				@Messages("gratorRelationship.primaryModuleSubpanel")
		   </legend>
		    @select(
		   		rowForm("primaryModuleSubpanel"),
		   		subpanelOptions,
		   		'default -> "-- select --"
		   )

	<legend>
				@Messages("gratorRelationship.relatedModuleId")
		   </legend>
		   @select(
		   		rowForm("relatedModuleId"),
		   		models.DB.GratorModule.getOptions,
		   		'default -> "-- select --"
		   )

	<legend>
				@Messages("gratorRelationship.relatedModuleLabel")
		   </legend>
		    @helper.inputText(rowForm("relatedModuleLabel"))

		    <div id="related_subpanel_select">
			<legend>
				@Messages("gratorRelationship.relatedModuleSubpanel")
		   	</legend>
		    @select(
		   		rowForm("relatedModuleSubpanel"),
		   		subpanelOptions,
		   		'default -> "-- select --"
		   	)
			</div>

  </fieldset>
  <p><input type="submit" class="btn primary"
  value='@Messages("gratorRelationship.save")'></p>

  <script src="@routes.Assets.at("javascripts/relationship_edit.js")"></script>
}