
@(rowForm: Form[models.DB.GratorRelationship], route: play.api.mvc.Call, GratorRelationshipTuple: Option[( models.DB.GratorRelationship, models.DB.GratorModule, models.DB.GratorModule )] = None)(implicit messages: Messages, req: RequestHeader)

@import helper._

@helper.form(action = route) {
  <fieldset>
    
		@GratorRelationshipTuple match {
    	case Some(GratorRelationshipTuple) => {
    		<input type="hidden" name="id" value="@GratorRelationshipTuple._1.id.get">
    	}
    	case None => {}
	  }
	
		<legend>
				@Messages("GratorRelationship.item_name")
		   </legend>
		    @helper.inputText(rowForm("name"))
	
		<legend>
				@Messages("GratorRelationship.relType")
		   </legend>
		    @helper.inputText(rowForm("relType"))
	
		<legend>
				@Messages("GratorRelationship.primaryModuleId")
		   </legend>
		   @select(
		   		rowForm("primaryModuleId"),
		   		models.DB.GratorModule.getOptions,
		   		'default -> "-- select --"
		   )
	
		<legend>
				@Messages("GratorRelationship.primaryModuleLabel")
		   </legend>
		    @helper.inputText(rowForm("primaryModuleLabel"))
	
		<legend>
				@Messages("GratorRelationship.primaryModuleSubpanel")
		   </legend>
		    @helper.inputText(rowForm("primaryModuleSubpanel"))
	
		<legend>
				@Messages("GratorRelationship.relatedModuleId")
		   </legend>
		   @select(
		   		rowForm("relatedModuleId"),
		   		models.DB.GratorModule.getOptions,
		   		'default -> "-- select --"
		   )
	
		<legend>
				@Messages("GratorRelationship.relatedModuleLabel")
		   </legend>
		    @helper.inputText(rowForm("relatedModuleLabel"))
	
		<legend>
				@Messages("GratorRelationship.relatedModuleSubpanel")
		   </legend>
		    @helper.inputText(rowForm("relatedModuleSubpanel"))
	
  </fieldset>
  <p><input type="submit" class="btn primary"
  value='@Messages("GratorRelationship.save")'></p>
}
