
@(form: Form[models.DB.GratorRelationship])(implicit messages: Messages, req: RequestHeader)

@main(Messages("gratorRelationship.insert")){
  <div class="page-header">
      <h1>@Messages("gratorRelationship.insert")</h1>
  </div>

  @views.html.gratorRelationship.form(form, route = routes.GratorRelationshipController.save())

  <p>
    <a href="@controllers.routes.GratorRelationshipController.index()"
    class="btn">
    <i class="icon-plus"></i>@Messages("gratorRelationship.return")</a>
  </p>
}
