
@(rows: List[
 ( models.DB.GratorRelationship , models.DB.GratorModule, models.DB.GratorModule ) ])(implicit lang: Lang)

<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>@Messages("gratorRelationship.id")</th>
        <th>@Messages("gratorRelationship.name")</th>
        <th>@Messages("gratorRelationship.relType")</th>
        <th>@Messages("gratorRelationship.primaryModuleId")</th>
        <th>@Messages("gratorRelationship.primaryModuleLabel")</th>
        <th>@Messages("gratorRelationship.primaryModuleSubpanel")</th>
        <th>@Messages("gratorRelationship.relatedModuleId")</th>
        <th>@Messages("gratorRelationship.relatedModuleLabel")</th>
        <th>@Messages("gratorRelationship.relatedModuleSubpanel")</th>
      </tr>
    </thead>
    <tbody>
    @for( 
 ( gratorRelationship , gratorModuleprimaryModuleId, gratorModulerelatedModuleId )  <- rows){
        <tr>
            <td>
              <a href="@controllers.routes.GratorRelationshipController.detail(gratorRelationship.id.get)">@gratorRelationship.id</a>
            </td>
            <td>
              @gratorRelationship.name
            </td>
            <td>
              @gratorRelationship.relType
            </td>
            <td>
              @gratorModuleprimaryModuleId.name
            </td>
            <td>
              @gratorRelationship.primaryModuleLabel
            </td>
            <td>
              @gratorRelationship.primaryModuleSubpanel
            </td>
            <td>
              @gratorModulerelatedModuleId.name
            </td>
            <td>
              @gratorRelationship.relatedModuleLabel
            </td>
            <td>
              @gratorRelationship.relatedModuleSubpanel
            </td>
        </tr>
    }
     </tbody>
  </table>