@(module: models.Module, relatedFields: List[models.fields.RelatedField], primaryRelationships: List[models.Relationship])
@@(@{module.varName}: @views.html.gratorModule.template.full_tuple_type(module, relatedFields)
	@views.html.gratorRelationship.template.subpanel.detail_params(primaryRelationships))(implicit lang: Lang)

@@main(Messages("@{module.name}.name")){
	<div class="page-header">
		@if(relatedFields.isEmpty){
    	<h1>@@Messages("@{module.name}.item_detail",@{module.varName}.name)</h1>
    	} else {
    	<h1>@@Messages("@{module.name}.item_detail",@{module.varName}._1.name)</h1>
    	}
  </div>
	
  @@views.html.@{module.name}.list(List(@{module.varName}))

 	<p>
		<a href="@@controllers.routes.@{module.controllerName}.index()"
		class="btn">
		<i class="icon-plus"></i> @@Messages("@{module.name}.index")</a>

		@if(relatedFields.isEmpty){
		@@views.html.@{module.name}.delete(route = routes.@{module.controllerName}.delete(@{module.varName}.id.get), row = Some(@{module.varName}))
		} else {
		@@views.html.@{module.name}.delete(route = routes.@{module.controllerName}.delete(@{module.varName}._1.id.get), row = Some(@{module.varName}._1))
		}
	</p>

	@views.html.gratorRelationship.template.subpanel.load_subpanels(primaryRelationships, module)
}