@(module: models.Module, relatedFields: List[models.fields.RelatedField])
@@(rows: List[@views.html.gratorModule.template.full_tuple_type(module, relatedFields)])(implicit lang: Lang)

@@main(Messages("@{module.name}.name")){
	<div class="page-header">
    	<h1>@@Messages("@{module.name}.module_name")</h1>
  </div>
	
  @@views.html.@{module.name}.list(rows)

 	<p>
		<a href="@@controllers.routes.@{module.controllerName}.insert()"
		class="btn">
		<i class="icon-plus"></i> @@Messages("@{module.name}.new")</a>
	</p>
}