@(module: models.Module)
@@(@{module.formName}: Form[models.DB.@{module.rowName}], @{module.varName}: models.DB.@{module.rowName})(implicit lang: Lang)

@@main(Messages("@{module.name}.insert")){
  <div class="page-header">
      <h1>@@Messages("@{module.name}.insert")</h1>
  </div>
  
  @@views.html.@{module.name}.form(@{module.formName}, route = @{module.packageName}.routes.@{module.controllerName}.update(@{module.varName}.id.get), row = Some(@{module.varName}))

  <p>
    <a href="@@controllers.@{module.packageName}.routes.@{module.controllerName}.index()"
    class="btn">
    <i class="icon-plus"></i> @@Messages("@{module.name}.return")</a>
  </p>
}