
@(
  rowForm: Form[models.DB.FieldRow], 
  moduleOptions: Seq[(String,String)], 
  fieldOptions: Seq[(String,String)], 
  route: play.api.mvc.Call, 
  row: Option[models.DB.FieldRow] = None
)(implicit lang: Lang)

@import helper._
@import helper.twitterBootstrap._

@helper.form(action = route) {
  <fieldset>
    <legend>
      @Messages("field.name")
    </legend>

    @row match {
    	case Some(row) => { 
    		<input type="hidden" name="id" value='@row.id.get' >
    	}
    	case None => {}
	  }
    
    @helper.inputText(rowForm("name"))

    @helper.select(
        rowForm("module"),
        moduleOptions               
    )

    @helper.select(
      rowForm("fieldType"),
      fieldOptions
    )

    @helper.checkbox(
      rowForm("required")
    )
  </fieldset>
  <p><input type="submit" class="btn primary"
  value='@Messages("field.save")'></p>
}