@(module: it.grator.module_source.Module, fields: List[it.grator.module_source.fields.Field], relatedFields: List[it.grator.module_source.fields.RelatedField], primaryRelationships: List[it.grator.module_source.relationships.Relationship])
package controllers

import play.api._
import play.api.mvc._

import models.DB._

import play.api.data._
import play.api.data.Forms._

import play.api.db.slick.DB
import play.api.db.slick.Config.driver.simple._

object @{module.controllerName} extends Controller {
  def index = Action {
    val @{module.varName} = @{module.className}.findAllWithRelateds

    Ok(views.html.@{module.name}.index(@{module.varName}))
  }

  val @{module.formName} = Form(
      mapping(@views.html.templates.field.controller_form(fields)
      )(@{module.className}.apply)(@{module.className}.unapply)
  )

  def insert = Action {
    Ok(views.html.@{module.name}.insert(@{module.formName}))
  }
  

  @views.html.templates.module.controller_template_aux.detail(module, primaryRelationships)
  
  def save = Action { implicit request =>
    @{module.formName}.bindFromRequest.fold(
      formWithErrors => BadRequest(views.html.@{module.name}.insert(formWithErrors)),
      @{module.varName} => {
        val id = @{module.className}.save(@{module.varName})
        Redirect(routes.@{module.controllerName}.detail(id))
      }
    )
  }
  
  def edit(id: Long) = Action{
    @{module.className}.findById(id).map{
      @{module.varName}:@{module.className} => Ok(views.html.@{module.name}.edit(@{module.formName}.fill(@{module.varName}),@{module.varName}))
    }.getOrElse(NotFound)
  }
  
  def delete(id: Long) = Action{
    implicit request =>
    @{module.className}.findById(id).map{
      @{module.varName} => {
          @{module.className}.delete(@{module.varName})
          Redirect(routes.@{module.controllerName}.index())
    }
    }.getOrElse(NotFound)
  }
  
  def update(id: Long) = Action{ implicit request =>
    @{module.className}.findById(id).map{
      @{module.varName} => {
      @{module.formName}.bindFromRequest.fold(
        formWithErrors => BadRequest(views.html.@{module.name}.edit(formWithErrors,@{module.varName})),
        @{module.varName} => {
          @{module.className}.update(@{module.varName})
          Redirect(routes.@{module.controllerName}.detail(@{module.varName}.id.get))
        }
      )
    }
    }.getOrElse(NotFound)
  }

  @views.html.templates.module.controller_template_aux.relationship_actions(module, primaryRelationships)
}