@(gratorApp: models.DB.GratorApp, modules: List[( models.DB.GratorModule , models.DB.GratorApp )])(implicit lang: Lang)

@main(Messages("gratorApp.name")){
	<div class="page-header">
    	<h1>@Messages("gratorApp.item_detail",gratorApp.name)</h1>
  </div>
	<h2>@Messages("gratorApp.detail")</h2>
  @views.html.gratorApp.list(List(gratorApp))

  <h3>@Messages("gratorApp.module_list",gratorApp.name)</h3>
  @views.html.gratorModule.list(modules)
  @views.html.gratorModule.buttons.new_item()

 	<p>
		<a href="@controllers.routes.GratorAppController.generateAll(gratorApp.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("gratorApp.generate_all")</a>
    <br/><br/>
    <a href="@controllers.routes.GratorAppController.backupAll(gratorApp.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("gratorApp.backup")</a>
    <br/><br/>
    <a href="@controllers.routes.GratorAppController.index()"
    class="btn">
    <i class="icon-plus"></i> @Messages("gratorApp.index")</a>
    @views.html.gratorApp.delete(route = routes.GratorAppController.delete(gratorApp.id.get), row = Some(gratorApp))
	</p>
}
