
@(GratorAppForm: Form[models.DB.GratorApp], GratorApp: models.DB.GratorApp)(implicit messages: Messages, req: RequestHeader)

@main(Messages("GratorApp.insert")){
  <div class="page-header">
      <h1>@Messages("GratorApp.insert")</h1>
  </div>

  @views.html.GratorApp.form(GratorAppForm, route = routes.GratorAppController.update(GratorApp.id.get), GratorApp = Some(GratorApp))

  <p>
    <a href="@controllers.routes.GratorAppController.index()"
    class="btn">
    <i class="icon-plus"></i> @Messages("GratorApp.return")</a>
  </p>
}
