
@(rowForm: Form[models.DB.GratorApp], route: play.api.mvc.Call, gratorApp: Option[models.DB.GratorApp] = None)(implicit messages: Messages, req: RequestHeader)

@import helper._

@helper.form(action = route) {
  <fieldset>
    
		@gratorApp match {
    	case Some(gratorApp) => {
    		<input type="hidden" name="id" value="@gratorApp.id.get">
    	}
    	case None => {}
	  }
	
		<legend>
				@Messages("gratorApp.item_name")
		   </legend>
		    @helper.inputText(rowForm("name"))
	
		<legend>
				@Messages("gratorApp.path")
		   </legend>
		    @helper.inputText(rowForm("path"))
	
  </fieldset>
  <p><input type="submit" class="btn primary"
  value='@Messages("gratorApp.save")'></p>
}
