@(appName: String, modules: List[models.DB.ModuleRow])
application.name = @appName

@for(module <- modules){

#@{module.name}
@{module.name}.module_name = @{module.name.capitalize}

@{module.name}.number = #
@{module.name}.item_name = Name

@{module.name}.new = New @{module.name.capitalize}
@{module.name}.insert = A New @{module.name.capitalize}
@{module.name}.return = Return
@{module.name}.save = Save
@{module.name}.index = @{module.name.capitalize} List
@{module.name}.item_detail = {0} @{module.name.capitalize} details

@for(field <- module.fields){
	@{module.name}.@{field.name} = @{field.name.capitalize}
}
}