@(modules: List[models.DB.ModuleRow])

@for(module <- modules){

#@{module.name}:
GET   /@{module.name}                controllers.@{module.name.capitalize}Controller.index
GET   /@{module.name}/:id/detail     controllers.@{module.name.capitalize}Controller.detail(id: Long)
GET   /@{module.name}/insert         controllers.@{module.name.capitalize}Controller.insert
GET   /@{module.name}/:id/edit       controllers.@{module.name.capitalize}Controller.edit(id: Long)
POST  /@{module.name}/save           controllers.@{module.name.capitalize}Controller.save
POST  /@{module.name}/:id/delete     controllers.@{module.name.capitalize}Controller.delete(id: Long)
POST  /@{module.name}/:id/update     controllers.@{module.name.capitalize}Controller.update(id: Long)
}

# Map static resources from the /public folder to the /assets URL path
GET     /assets/*file               controllers.Assets.at(path="/public", file)