@(gratorModule: 
 ( models.DB.GratorModule , models.DB.GratorApp ), fields: List[(models.DB.GratorField, models.DB.GratorModule, models.DB.GratorModule)] )(implicit lang: Lang)

@main(Messages("gratorModule.name")){
    <div class="page-header">
        <h1>@Messages("gratorModule.item_detail",gratorModule._1.name)</h1> 
    </div>
    
    @views.html.gratorModule.list(List(gratorModule))

    <h3>@Messages("gratorModule.field_list",gratorModule._1.name)</h3>
    @views.html.gratorField.list(fields)
    @views.html.gratorField.buttons.new_item()

<p>
@*
    <a href="@controllers.routes.GratorModuleController.generateAll(gratorModule._1.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("gratorModule.generate_all")</a>
    <br />
    <a href="@controllers.routes.GratorModuleController.generateController(gratorModule._1.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("gratorModule.generate_controller")</a>
    <br />
    <a href="@controllers.routes.GratorModuleController.generateTable(gratorModule._1.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("gratorModule.generate_table")</a>
    <br />
    <a href="@controllers.routes.GratorModuleController.generateRow(gratorModule._1.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("gratorModule.generate_row")</a>
    <br />
    <a href="@controllers.routes.GratorModuleController.generateViews(gratorModule._1.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("gratorModule.generate_views")</a>
    <br />
*@
    <br />
    <a href="@controllers.routes.GratorModuleController.index()"
    class="btn">
    <i class="icon-plus"></i> @Messages("gratorModule.index")</a>

    @views.html.gratorModule.delete(route = routes.GratorModuleController.delete(gratorModule._1.id.get), row = Some(gratorModule._1))
</p>
}

