
@(rowForm: Form[models.DB.GratorModule], route: play.api.mvc.Call, GratorModuleTuple: Option[( models.DB.GratorModule, models.DB.GratorApp )] = None)(implicit messages: Messages, req: RequestHeader)

@import helper._

@helper.form(action = route) {
  <fieldset>
    
		@GratorModuleTuple match {
    	case Some(GratorModuleTuple) => {
    		<input type="hidden" name="id" value="@GratorModuleTuple._1.id.get">
    	}
    	case None => {}
	  }
	
		<legend>
				@Messages("GratorModule.item_name")
		   </legend>
		    @helper.inputText(rowForm("name"))
	
		<legend>
				@Messages("GratorModule.applicationId")
		   </legend>
		   @select(
		   		rowForm("applicationId"),
		   		models.DB.GratorApp.getOptions,
		   		'default -> "-- select --"
		   )
	
  </fieldset>
  <p><input type="submit" class="btn primary"
  value='@Messages("GratorModule.save")'></p>
}
