
@(rows: List[( models.DB.GratorModule, models.DB.GratorApp )])(implicit messages: Messages, req: RequestHeader)

<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>@Messages("GratorModule.id")</th>
        <th>@Messages("GratorModule.name")</th>
        <th>@Messages("GratorModule.applicationId")</th>
      </tr>
    </thead>
    <tbody>
    @for( ( GratorModule, applicationId ) <- rows){
        <tr>
            <td>
              <a href="@controllers.routes.GratorModuleController.detail(GratorModule.id.get)">@GratorModule.id</a>
            </td>
            <td>
              @GratorModule.name
            </td>
            <td>
              @applicationId.name
            </td>
        </tr>
    }
     </tbody>
  </table>
