
@(rows: List[( models.DB.GratorModule, models.DB.GratorApp )])(implicit messages: Messages, req: RequestHeader)

<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>@Messages("gratorModule.id")</th>
        <th>@Messages("gratorModule.name")</th>
        <th>@Messages("gratorModule.applicationId")</th>
        <th>@Messages("gratorModule.hasTab")</th>
      </tr>
    </thead>
    <tbody>
    @for( ( gratorModule, applicationId ) <- rows){
        <tr>
            <td>
              <a href="@controllers.routes.GratorModuleController.detail(gratorModule.id.get)">@gratorModule.id</a>
            </td>
            <td>
              @gratorModule.name
            </td>
            <td>
              @applicationId.name
            </td>
            <td>
              @gratorModule.hasTab
            </td>
        </tr>
    }
     </tbody>
  </table>
