@(gratorField: ( models.DB.GratorField , models.DB.GratorModule, models.DB.GratorModule ) )(implicit lang: Lang)

@main(Messages("gratorField.name")){
	<div class="page-header">
		
    	<h1>@Messages("gratorField.item_detail",gratorField._1.name)</h1>
    	
  </div>
	
  @views.html.gratorField.list(List(gratorField))

 	<p>
		<a href="@controllers.routes.GratorFieldController.index()"
		class="btn">
		<i class="icon-plus"></i> @Messages("gratorField.index")</a>
		@views.html.gratorField.delete(route = routes.GratorFieldController.delete(gratorField._1.id.get), row = Some(gratorField._1))
	</p>
}