
@(GratorField: ( models.DB.GratorField, models.DB.GratorModule, models.DB.GratorModule ) )(implicit messages: Messages, req: RequestHeader)

@main(Messages("GratorField.name")){
	<div class="page-header">
		
    	<h1>@Messages("GratorField.item_detail",GratorField._1.name)</h1>
    	
  </div>

  @views.html.GratorField.list(List(GratorField))

 	<p>
		<a href="@controllers.routes.GratorFieldController.index()"
		class="btn">
		<i class="icon-plus"></i> @Messages("GratorField.index")</a>

		
		@views.html.GratorField.delete(route = routes.GratorFieldController.delete(GratorField._1.id.get), GratorField = Some(GratorField._1))
		
	</p>

	
	
}
