@(GratorFieldForm: Form[models.DB.GratorField], moduleOptions: Seq[(String,String)], typeOptions: Seq[(String,String)], gratorField: models.DB.GratorField)(implicit lang: Lang)

@main(Messages("gratorField.insert")){
  <div class="page-header">
      <h1>@Messages("gratorField.insert")</h1>
  </div>
  
  @views.html.gratorField.form(GratorFieldForm, moduleOptions, typeOptions, route = routes.GratorFieldController.update(gratorField.id.get), row = Some(gratorField))

  <p>
    <a href="@controllers.routes.GratorFieldController.index()"
    class="btn">
    <i class="icon-plus"></i> @Messages("gratorField.return")</a>
  </p>
}