@(app: it.grator.module_source.App, modules: List[it.grator.module_source.Module])
application.name = @app.name
application.generate_evolutions = Generar Evoluciones
@for(module <- modules){

#@{module.name}
@{module.name}.module_name = @{module.name.capitalize}

@{module.name}.number = #
@{module.name}.item_name = Nombre

@{module.name}.new = Nuevo @{module.name.capitalize}
@{module.name}.insert = Insertando un nuevo @{module.name.capitalize}
@{module.name}.return = Volver
@{module.name}.save = Guardar
@{module.name}.index = Listado de @{module.name.capitalize}
@{module.name}.item_detail = Detalles de {0} @{module.name.capitalize}
@{module.name}.delete = Borrar @{module.name.capitalize} {0}
@{module.name}.select = Seleccionar
@{module.name}.add_rel = Agregar Relacion
@{module.name}.clear = Vaciar
@for(field <- module.fields(app)){
@{module.name}.@{field.name} = @{field.name.capitalize}}}
