@(app: it.grator.module_source.App, module: it.grator.module_source.Module, fields: List[it.grator.module_source.fields.Field])
@@(rowForm: Form[models.DB.@{module.className}], route: play.api.mvc.Call, @{module.varOrTuple(app)}: Option[@{module.tupleType(app)}] = None)(implicit messages: Messages, req: RequestHeader)

@@import helper._

@@helper.form(action = route) {
  <fieldset>
    @for(field <- fields){
		@{Html(field.htmlForm(app))}
	}
  </fieldset>
  <p><input type="submit" class="btn primary"
  value='@@Messages("@{module.name}.save")'></p>
}
