@(application: models.DB.ApplicationRow, modules: List[models.DB.ModuleRow])(implicit lang: Lang)

@main(Messages("application.name")){
	<div class="page-header">
    	<h1>@Messages("application.item_detail",application.name)</h1>
  </div>
	<h2>@Messages("application.detail")</h2>
  @views.html.application.list(List(application))

  <h3>@Messages("application.module_list",@application.name)</h3>
  @views.html.module.list(modules)

 	<p>
		<a href="@controllers.routes.ApplicationController.generateAll(application.id.get)"
    class="btn">
    <i class="icon-plus"></i> @Messages("application.generate_all")</a>
    <br/><br/>
    <a href="@controllers.routes.ApplicationController.index()"
    class="btn">
    <i class="icon-plus"></i> @Messages("application.index")</a>
	</p>
}