@(app: it.grator.module_source.App)
package controllers

import java.io.{File,FileInputStream,FileOutputStream}

import play.api._
import play.api.mvc._

import javax.inject.Inject

import play.api.i18n.{MessagesApi, I18nSupport}

class GratorAppController @@Inject() (val messagesApi: MessagesApi) extends Controller with I18nSupport {
  def createPath(path: String){
    val carpeta = new java.io.File(path)
    try{
      if(!carpeta.exists){
        carpeta.getParentFile().mkdirs();
      }
    } catch {
      case e: Exception => println("The following exception was raised: " + e);
    }
  }

  def writeToFile(path: String, file: String) {
    this.createPath(path)
    val archivo = new java.io.PrintWriter(new File(path))
    try {
      archivo.write(file)
    } finally {
      archivo.close()
    }
  }

  def index = Action { implicit request =>
    Ok(views.html.home.index())
  }

  def evolutions = TODO
}
