@@()(implicit messages: Messages, req: RequestHeader)
@@import helper._

@@main(Messages("application.name")){

	<h1><a id="user-content-grator" class="anchor" href="#grator" aria-hidden="true"><span class="octicon octicon-link"></span></a>Grator</h1>

	<p>CRUD Generator for PlayFramework2.4.x-Slick3.0.x-Scala</p>

	<p><a href="https://github.com/geckopeb/grator/wiki">https://github.com/geckopeb/grator/wiki</a></p>

	@@helper.form(routes.GratorAppController.evolutions) {
	  <p><input type="submit" class="btn primary"
	  value='@@Messages("application.generate_evolutions")'></p>
	}
}
